@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: black;
    background-size: cover;

}
.inputGeneral{
    text-indent: 4%;
    

   
}
@media only screen and (max-width: 450px) {
  .app {
    
    
  }
  .containerText{
    width: 80%;
    word-wrap: break-word;
    
  }
}